.optionAtack{
  font-size: 1.1rem;
  padding: .2rem .5rem;
  margin-right: .3rem;
  margin-top: .8rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-height: 850px){
  .optionAtack{
    font-size: 1rem;
    padding: .1rem;
    margin-right: .2rem;
    margin-top: .8rem;
  }
}

@media (min-width: 1100px){
  .optionAtack{
    font-size: 1.1rem;
    padding: .2rem .5rem;
    margin-right: .3rem;
    margin-top: .8rem;
  }
}