.container{
  position: relative;
  width: 100%;
  height: 100%;
}

.itemContainer{
  position: absolute;
  width: 250px;
  height: 120px;
  bottom: 0%;
  right: 20%;
  background: lightgray;
  padding: .5rem 1rem;
  border-radius: 15px 15px 0 0;
  border: 1px solid black;
  border-bottom: none;
  overflow: hidden;
}

.itemContainerBoss{
  position: absolute;
  width: 220px;
  height: 80px;
  top: 0%;
  left: 20%;
  background: lightgray;
  background: lightgray;
  padding: .5rem 1rem;
  border-radius: 0 0 15px 15px;
}

.containerBar{
  width: 300px;
  height: 10px;
  margin-bottom: 1.6rem;
  text-transform: capitalize;
}

.lifeBarContainer{
  height: 10px;
  border-radius: 5rem;
  position: relative;
}

.lifeBar{
  position: absolute;
  animation: barLoading 1s forwards;
  
  height: 8px;
  border-radius: 5rem;
  background-color: green !important;
}

@keyframes barLoading{
  from{
    width: 0%;
  }
  to{
    width: width;
  }
}

.optionAtack,
.optionHeal{
  font-size: 1.1rem;
  padding: .2rem .5rem;
  margin-right: .3rem;
  margin-top: .5rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.optionHeal{
  position: relative;
}

.healCount{
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  background: white;
  color: darkgreen;
  border-radius: 50%;
  border: 1px solid black;
}

@media (max-height: 850px){
  .itemContainer{
    width: 200px;
    height: 100px;
  }
  .optionAtack,
  .optionHeal{
    font-size: 1rem;
    padding: .1rem;
    margin-right: .2rem;
    margin-top: .5rem;
  }
  .healCount{
    font-size: .8rem;
    width: 15px;
    height: 15px;
  }
  .itemContainerBoss{
    height: 80px;
  }
}